#
# Формат файла новости.  Каждый файл задает параметры одной новости.
# Файл должен иметь расширение .cf. По соглашению имя файла задается
# в виде даты новости (ГГММДД), но имя файла при обработке не учитывается,
#

<news>

  #
  # параметры публикации новости
  #
  <publish>
     start ГГГГ-ММ-ДД  # дата начала публикации (везде)
                       # если не указана, публикуется сразу же
     stop  ГГГГ-ММ-ДД  # дата конца публикации на обложке
                       # если не указана, публикуется пожизненно
                       # пока ее не вытеснят более свежие новости
                       # в архиве новость всегда публикуется пожизненно,
                       # если вообще публикуется
     enable  [1|0]     # если указано 0 (по умолчанию 1), то новость
                       # запрещается (как будто ее нет)
     archive [1|0]     # если указано 0 (по умолчанию 1), то новость
                       # не попадает в архив, а исчезает после публикации
     root    [1|0]     # если укзано 0 (по умолчанию 1), то новость не
                       # попадает на обложку, а только в архив
  </publish>

  date ГГГГ-ММ-ДД      # дата новости. Обязательное поле!

  # текст новости для обложки (слово root модно опустить)
  <text root>
  ' текст новости
  ' может состоять из мнгих строк,
  ' важно, что каждая строка начинается с символа кавычки,
  ' отделенного одним или несколькими пробелами от текста.
  </text>

  # текст для архива. если отсутствует, то имспользуется текст для обложки
  <text archive>
  ' аналогичным же образом
  ' задается текст для архива новостей
  </text>

</news>
